.gameplay-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(227, 253, 253);
}

.gameplay-header {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px 0px;
  background-color: rgb(160, 210, 235);
  box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.25);
}

.question-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.question {
  font-size: 1.5rem;
}

.info-container {
  flex: 5;
  display: flex;
  margin: 50px 0px;
  flex-direction: row;
  justify-content: center;
}

.image-option {
  flex: 3;
  margin-right: 25px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.image {
  margin: 10px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
  background-color: rgb(166, 227, 233);
  color: black;
  font-size: 1.25rem;
  padding: 0px 25px;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.multiple-option-container {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.boolean-option-container {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
}

.multiple-option-container .option,
.boolean-option-container .option {
  cursor: pointer;
  border-radius: 8px;
  color: black;
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.15);
  background-color: rgb(113, 201, 206);
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.multiple-option-container .option:active,
.boolean-option-container,
.option:active {
  box-shadow: none;
}

.timer-score {
  flex: 1;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px;
}

.timer {
  color: black;
  max-height: 250px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(166, 227, 233);
  box-shadow: 0 0 2.5px 2.5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timer-score-gif-container {
  flex: 1; /* Adjust the flex value as needed */
  max-width: 250px; /* Adjust the max-width as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px;
}

.correct-answer-gif {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.2);
  background-color: rgb(166, 227, 233);
  color: black;
  font-size: 1.25rem;
  padding: 10px; /* Adjust padding as needed */
  max-width: 100%; /* Ensure the GIF doesn't exceed its container */
}

.score {
  color: black;
  max-height: 250px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(166, 227, 233);
  box-shadow: 0 0 2.5px 2.5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
