.loser-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loser-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 25px;
}

.status {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.score-board,
.play-again {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  width: 500px;
  height: 150px;
  margin-bottom: 25px;
  background-color: rgb(185, 215, 234);
  box-shadow: 0 0 2.5px 2.5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.play-again {
  cursor: pointer;
}

.play-again:active {
  box-shadow: none;
}
