body {
  background-color: rgb(227, 253, 253);
}

.game-header {
  flex: 1;
  min-height: 150px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px 0px;
  background-color: rgb(160, 210, 235);
  box-shadow: 0 0 10px 2.5px rgba(0, 0, 0, 0.25);
}

.game-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.randomize-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.high-score-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.randomize-icon {
  font-size: 5rem;
  cursor: pointer;
  transition: font-size 0.15s;
}

.randomize-icon:active {
  font-size: 4rem;
}

.game-title-container .quiz {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 3rem;
}

.game-title-container .quest {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  font-size: 2.8rem;
}

.category-text-container {
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.game-topic {
  flex: 5;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5px auto;
  list-style: none;
}

.game-topic li .topic {
  display: block;
  object-fit: cover;
  cursor: pointer;
  padding: 5px;
  transition: opacity 0.3s, transform 0.3s;
  width: 100%;
  height: 290px;
  box-sizing: border-box; 
  border-radius: 15px;
}

.game-topic li .topic:hover {
  opacity: 0.8;
}

.game-topic li .topic:active {
  transform: scale(0.95);
}

.key-values .name {
  z-index: 1;
  position: absolute;
  padding-left: 25px;
  padding-top: 25px;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.key-link:hover .key-values {
  cursor: pointer;
}